<?xml version='1.0' encoding='utf-8'?>
<plugin id="elastos-trinity-plugins-wallet" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Wallet</name>
    <js-module name="Wallet" src="www/wallet.js">
        <clobbers target="walletManager" />
    </js-module>

	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="Wallet">
				<param name="android-package" value="org.elastos.trinity.plugins.wallet.Wallet" />
			</feature>
		</config-file>
        <source-file src="src/android/Wallet.java" target-dir="src/org/elastos/trinity/plugins/wallet" />
        <framework src="src/android/wallet.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/libs/org.elastos.wallet-debug.aar" target="libs/org.elastos.wallet-debug.aar"/>
	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Wallet">
                <param name="ios-package" value="Wallet" />
            </feature>
        </config-file>
        <!-- for native wallet
          <source-file src="src/ios/SPVWallet.mm" />
        <header-file src="src/ios/SPVWallet.h" /> -->
        <source-file src="src/ios/Wallet.mm" />
        <header-file src="src/ios/Wallet.h" />
        <header-file src="src/ios/libspvsdk/include/IIDChainSubWallet.h" />
        <header-file src="src/ios/libspvsdk/include/IMainchainSubWallet.h" />
        <header-file src="src/ios/libspvsdk/include/IMasterWallet.h" />
        <header-file src="src/ios/libspvsdk/include/IMasterWalletManager.h" />
        <header-file src="src/ios/libspvsdk/include/ISidechainSubWallet.h" />
        <header-file src="src/ios/libspvsdk/include/ISubWallet.h" />
        <header-file src="src/ios/libspvsdk/include/ISubWalletCallback.h" />
        <header-file src="src/ios/libspvsdk/include/ITokenchainSubWallet.h" />
        <header-file src="src/ios/libspvsdk/include/nlohmann/json.hpp" />
        <header-file src="src/ios/libspvsdk/include/MasterWalletManager.h" />
        <source-file src="src/ios/libspvsdk/lib/libboost_filesystem.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libboost_system.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libboost_thread.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libcrypto.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libfruit.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libspdlog.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libspvsdk.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libsqlite3.a" framework="true" />
        <source-file src="src/ios/libspvsdk/lib/libssl.a" framework="true" />
    </platform>
</plugin>

